@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.home-container{
  min-height:100vh;
  min-width:100vh;
  display: flex;
  flex-direction: column;
}

.image-top-home{
  margin: 0px 0px 0px 0px;
  width:170px;
}
.top-container-home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.middle-container-left-premium{
  display: flex;
  flex-direction: row;
}

.profile-logo-home{
  margin-left: 15px;
  width:40px;
  margin-top: 0px;
  height:40px;
}
.top-second-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height:15%;
  padding: auto;
  
}
.theme-change-button{
  /* margin-left: 15px; */

  border-width: 0px ;
  margin-top: 0px;
  outline: none;
  padding-top: 5px;
  padding-bottom: 20px;
  background-color: transparent;
}
.theme-change-button:focus{
  outline: none;
}


.button-top-home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 400;
  align-items: center;
  margin-left: 20px; 
  margin-top:0px;
  color:blue;
  border: 2px solid blue;
  background-color: transparent;
  height:30px;
  width:90px;
  font-family: Roboto;
  outline:none;
  text-align: center;
}
.button-top-home:focus{
  outline: none;
}
.applyWhite{
  background-color: white;
}
.applyBlack{
  /* min-width:100vh ;
  min-height: 100vh; */
  background-color: rgb(44, 43, 43);
  height:100%;
}
.buttonStyles{
  background-color: white;
}
.colorWhite{
  color:white;
  border: 1px solid white;

}
.left-top-bars{
  width:20%;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.trending-card{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-bottom: 0px;
  cursor: pointer;
  padding: 10px;
  /* width:100%; */
  width:200px;
  margin-top: 0px;
}
.heading-trending{
  font-size: 16px;
  margin: 0px 50px 0px 40px;
}
/* .icon-trending{
  margin-right: 17px;
  color: #f1f1f1;
  font-size: 27px;
  size:30px;
  background-color: transparent;
} */
 .changeToWhiteTrending{
  color:antiquewhite;
 }
.selectTabInLightMode{
  background-color:#7e858e;
}

.selectTabInDarkMode{
  background-color: #000000;
}
.right-premium-container{
  display: flex;
  flex-direction: row;
}
.top-right-header-jav890{
  display: flex;
  flex-direction: column;
}